{% include 'publicheader.html' %}


<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
             <center>

  <form method="post">
  <h1 style="color: white">Login Form</h1>
  <table class="table" style="width: 400px">
       <tr>
          <th style="color: white">User Name
          </th>
          <td><input type="text" class="form-control" required="" name="uname"></td>
       </tr>
          <tr><th style="color: white">Password</th>
          <td><input type="password" class="form-control" required="" name="passw"></td></tr> 

          <tr><td colspan="2" align="center"><input type="submit" class="btn btn-info" name="login" value="LOGIN"></td></tr>
  </table>
  </form>
</center>
            </div>
          </div>
        </div>
      

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section>

{% include 'footer.html' %}